In [1]:
import pandas as pd
import os

In [2]:
# df_22 = pd.read_excel('2022 Ercot.xlsx')
# df_22.head(3)

In [3]:
# df_22.shape

In [4]:
# df_21 = pd.read_excel('2021 Ercot.xlsx')
# df_21.head(3)

In [5]:
# df_21.shape

In [6]:
# df_20 = pd.read_excel('2020 Ercot.xlsx')
# df_20.head(3)

In [7]:
# df_20.shape

In [8]:
# df_19 = pd.read_excel('2019 Ercot.xlsx')
# df_19.head(3)

In [9]:
# df_19.shape

In [10]:
# df_18 = pd.read_excel('2018 Ercot.xlsx')
# df_18.head(3)

In [11]:
# df_18.shape

In [12]:
df_17 = pd.read_excel('2017 Ercot.xlsx')
df_17.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,01/01/2017 01:00,8791.789509,896.746302,1997.717635,683.621986,9239.153285,2366.632745,4490.781365,954.192864,29420.635691
1,01/01/2017 02:00,8569.708419,865.930568,1997.781319,677.969375,9104.997245,2332.744630,4370.656830,951.025166,28870.813551
2,01/01/2017 03:00,8326.425638,839.051175,1993.699160,671.998949,8988.035201,2237.506202,4210.650003,944.357749,28211.724078

In [13]:
df_17.shape

(8760, 10)

In [14]:
df_16 = pd.read_excel('2016 Ercot.xlsx')
df_16.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2016-01-01 01:00:00.003,9001.477932,1148.358788,2107.895986,788.543919,11409.339036,2829.993195,5479.057816,1088.091916,33852.758587
1,2016-01-01 01:59:59.997,8864.555456,1134.909662,2100.702470,782.355108,11235.174936,2830.075196,5405.955778,1080.369336,33434.097940
2,2016-01-01 03:00:00.000,8745.758728,1126.864026,2099.966167,781.237004,11151.965219,2789.470654,5334.159606,1069.644619,33099.066023

In [15]:
df_16.shape

(8784, 10)

In [16]:
df_15 = pd.read_excel('2015 Ercot.xls')
df_15.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2015-01-01 01:00:00.003,9844.200268,1350.784678,2078.060021,901.770195,13640.024978,3607.904503,6731.301663,1470.814721,39624.861027
1,2015-01-01 01:59:59.997,9653.456269,1333.434943,2057.993265,890.150373,13425.121941,3609.619438,6602.935629,1440.832944,39013.544802
2,2015-01-01 03:00:00.000,9502.299659,1323.908498,2039.019542,880.926639,13286.070909,3573.158363,6530.663273,1430.495044,38566.541927

In [17]:
df_15.shape

(8760, 10)

In [18]:
df_14 = pd.read_excel('2014 Ercot.xls')
df_14.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2014-01-01 01:00:00.003,9101.691219,1338.197939,1820.206244,793.458458,12298.801147,3236.109065,6121.146143,1102.523505,35812.133719
1,2014-01-01 01:59:59.997,8907.975782,1328.940064,1809.180861,791.141630,12297.109823,3246.493375,6091.018850,1098.774771,35570.635156
2,2014-01-01 03:00:00.000,8738.460973,1317.990846,1804.524573,789.791906,12285.295247,3217.721388,6060.017515,1097.716762,35311.519210

In [19]:
df_14.shape

(8760, 10)

In [20]:
df_13 = pd.read_excel('2013 Ercot.xls')
df_13.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2013-01-01 01:00:00.003,7607.189871,1074.024285,1411.823159,763.069242,10370.322921,2206.945802,4368.528687,883.029500,28684.933467
1,2013-01-01 01:59:59.997,7389.267519,1035.189180,1403.601093,754.425986,10153.942806,2160.082197,4233.635250,872.532258,28002.676290
2,2013-01-01 03:00:00.000,7179.748411,1036.216739,1395.131213,746.215515,9989.243532,2065.369913,4082.897707,868.951334,27363.774363

In [21]:
df_13.shape

(8760, 10)

In [22]:
df_12 = pd.read_excel('2012 Ercot.xls')
df_12.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2012-01-01 01:00:00.003,7748.160500,878.438488,1289.746813,652.153054,8648.989316,2105.379142,4162.162310,849.000892,26334.030515
1,2012-01-01 01:59:59.997,7559.728089,839.092904,1294.272245,643.483530,8553.212708,2047.755534,4070.416593,845.097363,25853.058967
2,2012-01-01 03:00:00.000,7337.789042,817.995707,1296.491345,631.940923,8461.317967,1961.909818,3946.994332,840.902848,25295.341984

In [23]:
df_12.shape

(8784, 10)

In [24]:
df_11 = pd.read_excel('2011 Ercot.xls')
df_11.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2011-01-01 01:00:00.003,7242.844978,919.318501,1273.185354,762.181838,10038.701857,2033.434272,4448.833193,943.943487,27662.443480
1,2011-01-01 01:59:59.997,7028.298944,906.680146,1273.258677,762.644083,9982.845460,1964.750313,4401.280885,930.286207,27250.044715
2,2011-01-01 03:00:00.000,6870.407297,877.968337,1272.137325,763.843552,9870.152864,1885.766434,4320.909860,922.040412,26783.226081

In [25]:
df_11.shape

(8760, 10)

In [26]:
df_10 = pd.read_excel('2010 Ercot.xls')
df_10.head(3)

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2010-01-01 01:00:00.003,7775.456846,1238.179861,1237.649967,877.672404,12405.849409,2467.581039,5031.931981,1059.742927,32094.064435
1,2010-01-01 01:59:59.997,7704.815982,1236.050964,1248.907364,883.621724,12485.814858,2436.025369,5111.468920,1064.617365,32171.322546
2,2010-01-01 03:00:00.000,7650.575724,1244.073140,1251.207485,881.155327,12559.461123,2414.440222,5168.887617,1071.951825,32241.752463

In [27]:
df_10.shape

(8760, 10)

In [28]:
# df_9 = pd.read_excel('2009 Ercot.xls')
# df_9.head(3)

In [29]:
# df_9.shape

In [30]:
# df_8 = pd.read_excel('2008 Ercot.xls')
# df_8.head(3)

In [31]:
# df_8.shape

In [32]:
# df_7 = pd.read_excel('2007 Ercot.xls')
# df_7.head(3)

In [33]:
# df_7.shape

In [34]:
# df_6 = pd.read_excel('2006 Ercot.xls')
# df_6.head(3)

In [35]:
# df_6.shape

In [36]:
# df_5 = pd.read_excel('2005 Ercot.xls')
# df_5.head(3)

In [37]:
# df_5.shape

In [38]:
# df_4 = pd.read_excel('2004 Ercot.xls')
# df_4.head(3)

In [39]:
# df_4.shape

In [40]:
# df_3 = pd.read_excel('2003 Ercot.xls')
# df_3.head(3)

In [41]:
# df_3.shape

In [42]:
total_df = pd.concat([df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17])

In [43]:
total_df.head()

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
0,2010-01-01 01:00:00.003000,7775.456846,1238.179861,1237.649967,877.672404,12405.849409,2467.581039,5031.931981,1059.742927,32094.064435
1,2010-01-01 01:59:59.997000,7704.815982,1236.050964,1248.907364,883.621724,12485.814858,2436.025369,5111.468920,1064.617365,32171.322546
2,2010-01-01 03:00:00,7650.575724,1244.073140,1251.207485,881.155327,12559.461123,2414.440222,5168.887617,1071.951825,32241.752463
3,2010-01-01 04:00:00.003000,7666.708317,1253.211110,1260.419002,894.330100,12671.847950,2383.948564,5241.889124,1086.839061,32459.193227
4,2010-01-01 04:59:59.997000,7744.960869,1284.055257,1264.653516,906.325283,12912.267303,2498.179406,5401.453950,1111.855463,33123.751047

In [44]:
total_df.tail()

,Hour Ending,COAST,EAST,FWEST,NORTH,NCENT,SOUTH,SCENT,WEST,ERCOT
8755,12/31/2017 20:00,12015.663549,1910.720587,2989.824568,1202.222117,20633.414345,3771.864865,9626.306799,1813.399697,53963.416528
8756,12/31/2017 21:00,11883.114122,1907.585299,2970.854839,1191.309197,20174.983131,3719.315447,9519.748453,1795.416337,53162.326825
8757,12/31/2017 22:00,11754.250889,1890.359350,2942.227121,1178.171245,19726.459865,3690.567365,9402.193277,1767.742081,52351.971192
8758,12/31/2017 23:00,11579.853459,1855.937814,2898.567893,1157.488537,19211.158684,3689.751261,9260.416988,1735.764393,51388.939028
8759,12/31/2017 24:00,11452.163689,1834.871741,2856.941683,1145.645045,18944.980941,3726.039934,9172.714892,1701.543039,50834.900964

In [45]:
total_df.shape

(70128, 10)

In [46]:
total_df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Hour Ending,70128,70121,2013-11-03 01:59:59.997,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COAST,70127.0,NaN,NaT,NaN,11061.544872,2590.730406,6293.573072,9191.317513,10466.772212,12476.841037,20100.758612
EAST,70127.0,NaN,NaT,NaN,1393.349451,330.452951,757.569125,1162.043727,1319.414631,1573.893842,2570.031835
FWEST,70127.0,NaN,NaT,NaN,1795.595894,430.024887,915.737194,1418.126563,1809.199957,2098.761849,3164.186431
NORTH,70127.0,NaN,NaT,NaN,840.267177,184.608258,508.671875,712.47165,792.605905,935.028339,1563.751051
NCENT,70127.0,NaN,NaT,NaN,12877.079303,3523.571961,6681.244677,10486.915989,11991.582841,14663.578059,25626.484526
SOUTH,70127.0,NaN,NaT,NaN,3172.880416,798.371548,1616.394449,2575.892091,3005.003674,3694.1102,5845.283666
SCENT,70127.0,NaN,NaT,NaN,6338.542158,1707.31061,3400.245576,5147.183304,5917.92682,7257.727094,12344.841642
WEST,70127.0,NaN,NaT,NaN,1097.961705,232.461764,631.803702,932.695415,1044.24406,1223.551299,1901.940577
ERCOT,70127.0,NaN,NaT,NaN,38577.220976,9287.133052,21797.72923,32029.674422,36436.143421,43465.209824,71092.609221

In [47]:
coast_df = total_df.drop(columns = ['EAST', 'FWEST', 'NORTH', 'NCENT', 'SOUTH', 'SCENT', 'WEST', 'ERCOT'])
coast_df.head()

                  Hour Ending        COAST
0  2010-01-01 01:00:00.003000  7775.456846
1  2010-01-01 01:59:59.997000  7704.815982
2         2010-01-01 03:00:00  7650.575724
3  2010-01-01 04:00:00.003000  7666.708317
4  2010-01-01 04:59:59.997000  7744.960869

In [48]:
coast_df.shape

(70128, 2)

In [49]:
total_df.to_csv('total_df.csv')

In [50]:
coast_df.to_csv('coast_df.csv')

In [51]:
coast_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70128 entries, 0 to 8759
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Hour Ending  70128 non-null  object
 1   COAST        70127 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.6+ MB

In [52]:
coast_df.rename(columns={"Hour Ending": "datetime", "COAST": "coastal_region"}, inplace=True)

In [53]:
pd.to_datetime(coast_df.datetime)

ParserError: hour must be in 0..23: 01/01/2017 24:00

2013-11-03 01:59:59.997000    2
2016-11-06 01:59:59.997000    2
2015-11-01 01:59:59.997000    2
2011-11-06 01:59:59.997000    2
2012-11-04 01:59:59.997000    2
                             ..
2012-09-01 07:59:59.997000    1
2012-09-01 09:00:00           1
2012-09-01 10:00:00.003000    1
2012-09-01 10:59:59.997000    1
12/31/2017 24:00              1
Name: datetime, Length: 70121, dtype: int64