# Missing values investigation

In [26]:
# Ignoring warning messages from python
import warnings
warnings.filterwarnings('ignore')

# General use imports
import pandas as pd
import numpy as np
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta
from pytz import timezone

# Module helpers imports
import wrangle

# # Visualization imports
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly
import plotly.express as px
from plotly.subplots import make_subplots

In [8]:
df = wrangle.get_ercot_df()
df.head()

                      ercot_load     dow  is_weekday  is_obs_holiday
datetime
2010-01-01 01:00:00  7775.456846  Friday           1               1
2010-01-01 02:00:00  7704.815982  Friday           1               1
2010-01-01 03:00:00  7650.575724  Friday           1               1
2010-01-01 04:00:00  7666.708317  Friday           1               1
2010-01-01 05:00:00  7744.960869  Friday           1               1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109535 entries, 2010-01-01 01:00:00 to 2022-07-01 00:00:00
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ercot_load      109534 non-null  float64
 1   dow             109535 non-null  object
 2   is_weekday      109535 non-null  int64
 3   is_obs_holiday  109535 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.2+ MB

In [12]:
df.isnull().sum()

ercot_load        1
dow               0
is_weekday        0
is_obs_holiday    0
dtype: int64

In [13]:
df[df['ercot_load'].isnull()]

            ercot_load     dow  is_weekday  is_obs_holiday
datetime
2016-11-07         NaN  Monday           1               0

In [16]:
df['ercot_load']['2016-11-06':'2016-11-07']

datetime
2016-11-06 00:00:00     9823.059300
2016-11-06 01:00:00     9333.714877
2016-11-06 02:00:00     8940.715464
2016-11-06 02:00:00     8586.846227
2016-11-06 03:00:00     8421.796870
2016-11-06 04:00:00     8315.693497
2016-11-06 05:00:00     8298.451888
2016-11-06 06:00:00     8378.409884
2016-11-06 07:00:00     8574.723399
2016-11-06 08:00:00     8727.975197
2016-11-06 09:00:00     9250.127880
2016-11-06 10:00:00     9710.042373
2016-11-06 11:00:00    10166.955143
2016-11-06 12:00:00    10705.692924
2016-11-06 13:00:00    11257.071051
2016-11-06 14:00:00    11593.861939
2016-11-06 15:00:00    11668.452052
2016-11-06 16:00:00    11505.324075
2016-11-06 17:00:00    11366.450501
2016-11-06 18:00:00    11568.347403
2016-11-06 19:00:00    11817.812064
2016-11-06 20:00:00    11659.888806
2016-11-06 21:00:00    11325.212073
2016-11-06 22:00:00    10847.035095
2016-11-06 23:00:00    10138.494300
2016-11-07 00:00:00             NaN
2016-11-07 01:00:00     8961.697811
2016-11-07 02:00:00     8719.073733
2016-11-07 03:00:00     8602.533316
2016-11-07 04:00:00     8623.895250
2016-11-07 05:00:00     8856.470136
2016-11-07 06:00:00     9469.276490
2016-11-07 07:00:00    10233.657987
2016-11-07 08:00:00    10384.558931
2016-11-07 09:00:00    10696.434427
2016-11-07 10:00:00    11027.490313
2016-11-07 11:00:00    11292.883292
2016-11-07 12:00:00    11646.538266
2016-11-07 13:00:00    11884.506494
2016-11-07 14:00:00    12190.059245
2016-11-07 15:00:00    12377.546400
2016-11-07 16:00:00    12406.601813
2016-11-07 17:00:00    12332.283267
2016-11-07 18:00:00    12191.523125
2016-11-07 19:00:00    12280.656551
2016-11-07 20:00:00    12079.225448
2016-11-07 21:00:00    11699.602943
2016-11-07 22:00:00    11018.478786
2016-11-07 23:00:00    10154.993885
Name: ercot_load, dtype: float64

In [17]:
(10138.494300 + 8961.697811)/2

9550.0960555

In [18]:
df.ercot_load['2016-11-06':'2016-11-07'].interpolate(method='time',limit_direction='both')

datetime
2016-11-06 00:00:00     9823.059300
2016-11-06 01:00:00     9333.714877
2016-11-06 02:00:00     8940.715464
2016-11-06 02:00:00     8586.846227
2016-11-06 03:00:00     8421.796870
2016-11-06 04:00:00     8315.693497
2016-11-06 05:00:00     8298.451888
2016-11-06 06:00:00     8378.409884
2016-11-06 07:00:00     8574.723399
2016-11-06 08:00:00     8727.975197
2016-11-06 09:00:00     9250.127880
2016-11-06 10:00:00     9710.042373
2016-11-06 11:00:00    10166.955143
2016-11-06 12:00:00    10705.692924
2016-11-06 13:00:00    11257.071051
2016-11-06 14:00:00    11593.861939
2016-11-06 15:00:00    11668.452052
2016-11-06 16:00:00    11505.324075
2016-11-06 17:00:00    11366.450501
2016-11-06 18:00:00    11568.347403
2016-11-06 19:00:00    11817.812064
2016-11-06 20:00:00    11659.888806
2016-11-06 21:00:00    11325.212073
2016-11-06 22:00:00    10847.035095
2016-11-06 23:00:00    10138.494300
2016-11-07 00:00:00     9550.096055
2016-11-07 01:00:00     8961.697811
2016-11-07 02:00:00     8719.073733
2016-11-07 03:00:00     8602.533316
2016-11-07 04:00:00     8623.895250
2016-11-07 05:00:00     8856.470136
2016-11-07 06:00:00     9469.276490
2016-11-07 07:00:00    10233.657987
2016-11-07 08:00:00    10384.558931
2016-11-07 09:00:00    10696.434427
2016-11-07 10:00:00    11027.490313
2016-11-07 11:00:00    11292.883292
2016-11-07 12:00:00    11646.538266
2016-11-07 13:00:00    11884.506494
2016-11-07 14:00:00    12190.059245
2016-11-07 15:00:00    12377.546400
2016-11-07 16:00:00    12406.601813
2016-11-07 17:00:00    12332.283267
2016-11-07 18:00:00    12191.523125
2016-11-07 19:00:00    12280.656551
2016-11-07 20:00:00    12079.225448
2016-11-07 21:00:00    11699.602943
2016-11-07 22:00:00    11018.478786
2016-11-07 23:00:00    10154.993885
Name: ercot_load, dtype: float64

In [23]:
df.ercot_load.interpolate(method='time',limit_direction='both', inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109535 entries, 2010-01-01 01:00:00 to 2022-07-01 00:00:00
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ercot_load      109535 non-null  float64
 1   dow             109535 non-null  object
 2   is_weekday      109535 non-null  int64
 3   is_obs_holiday  109535 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 8.2+ MB

In [27]:
df.head()

                      ercot_load     dow  is_weekday  is_obs_holiday
datetime
2010-01-01 01:00:00  7775.456846  Friday           1               1
2010-01-01 02:00:00  7704.815982  Friday           1               1
2010-01-01 03:00:00  7650.575724  Friday           1               1
2010-01-01 04:00:00  7666.708317  Friday           1               1
2010-01-01 05:00:00  7744.960869  Friday           1               1

In [34]:
weather = pd.read_csv('clean_weather_df.csv')
weather.head()

,datetime,hs_temp,hs_feelslike,hs_dew,hs_humidity,hs_precip,hs_windgust,hs_windspeed,hs_winddir,hs_sealevelpressure,...,vc_precip,vc_windgust,vc_windspeed,vc_winddir,vc_sealevelpressure,vc_cloudcover,vc_visibility,vc_solarradiation,vc_solarenergy,vc_uvindex
0,2009-12-31 01:00:00,48.1,48.1,48.0,99.46,0.0,NaN,0.2,182.0,1017.8,...,0.0,NaN,3.3,220.0,1017.5,0.0,0.6,NaN,NaN,NaN
1,2009-12-31 02:00:00,46.7,46.7,46.5,99.57,0.0,NaN,0.0,NaN,1017.9,...,0.0,NaN,0.0,NaN,1017.4,0.0,0.6,NaN,NaN,NaN
2,2009-12-31 03:00:00,46.6,46.6,46.3,99.09,0.0,NaN,0.0,NaN,1018.1,...,0.0,NaN,0.0,NaN,1017.3,86.3,0.6,NaN,NaN,NaN
3,2009-12-31 04:00:00,46.5,46.5,46.3,99.06,0.0,NaN,0.4,167.0,1018.0,...,0.0,NaN,0.1,80.0,1017.3,0.0,0.0,NaN,NaN,NaN
4,2009-12-31 05:00:00,46.4,44.8,46.3,99.65,0.0,NaN,3.9,151.0,1017.7,...,0.0,NaN,0.1,90.0,1016.9,0.0,0.6,NaN,NaN,NaN

In [37]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109559 entries, 0 to 109558
Data columns (total 57 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   datetime             109559 non-null  object
 1   hs_temp              109546 non-null  float64
 2   hs_feelslike         109546 non-null  float64
 3   hs_dew               109546 non-null  float64
 4   hs_humidity          109546 non-null  float64
 5   hs_precip            109546 non-null  float64
 6   hs_windgust          28675 non-null   float64
 7   hs_windspeed         109546 non-null  float64
 8   hs_winddir           109543 non-null  float64
 9   hs_sealevelpressure  109446 non-null  float64
 10  hs_cloudcover        109546 non-null  float64
 11  hs_visibility        109546 non-null  float64
 12  hs_solarradiation    109529 non-null  float64
 13  hs_solarenergy       69235 non-null   float64
 14  hs_uvindex           109529 non-null  float64
 15  gv_temp              109546 non-null  float64
 16  gv_feelslike         109546 non-null  float64
 17  gv_dew               109546 non-null  float64
 18  gv_humidity          109546 non-null  float64
 19  gv_precip            109546 non-null  float64
 20  gv_windgust          53395 non-null   float64
 21  gv_windspeed         109546 non-null  float64
 22  gv_winddir           109546 non-null  float64
 23  gv_sealevelpressure  109543 non-null  float64
 24  gv_cloudcover        109546 non-null  float64
 25  gv_visibility        109544 non-null  float64
 26  gv_solarradiation    99616 non-null   float64
 27  gv_solarenergy       66873 non-null   float64
 28  gv_uvindex           99616 non-null   float64
 29  pl_temp              109546 non-null  float64
 30  pl_feelslike         109546 non-null  float64
 31  pl_dew               109546 non-null  float64
 32  pl_humidity          109546 non-null  float64
 33  pl_precip            109546 non-null  float64
 34  pl_windgust          49045 non-null   float64
 35  pl_windspeed         109546 non-null  float64
 36  pl_winddir           109544 non-null  float64
 37  pl_sealevelpressure  109371 non-null  float64
 38  pl_cloudcover        109546 non-null  float64
 39  pl_visibility        109538 non-null  float64
 40  pl_solarradiation    109529 non-null  float64
 41  pl_solarenergy       63207 non-null   float64
 42  pl_uvindex           109529 non-null  float64
 43  vc_temp              109546 non-null  float64
 44  vc_feelslike         109546 non-null  float64
 45  vc_dew               109546 non-null  float64
 46  vc_humidity          109546 non-null  float64
 47  vc_precip            109546 non-null  float64
 48  vc_windgust          37687 non-null   float64
 49  vc_windspeed         109546 non-null  float64
 50  vc_winddir           109544 non-null  float64
 51  vc_sealevelpressure  109469 non-null  float64
 52  vc_cloudcover        109546 non-null  float64
 53  vc_visibility        109511 non-null  float64
 54  vc_solarradiation    109529 non-null  float64
 55  vc_solarenergy       64816 non-null   float64
 56  vc_uvindex           109529 non-null  float64
dtypes: float64(56), object(1)
memory usage: 47.6+ MB

>### Generally how to proceed from readings
        - Make datetime in df timezone aware
        - convert datetime to index
        -