# Missing values investigation

In [7]:
# Ignoring warning messages from python
import warnings
warnings.filterwarnings('ignore')

# General use imports
import pandas as pd
import numpy as np
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

# Module helpers imports
import wrangle

# # Visualization imports
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly
import plotly.express as px
from plotly.subplots import make_subplots

In [8]:
df = wrangle.get_ercot_df()
df.head()

                      ercot_load     dow  is_weekday  is_obs_holiday
datetime
2010-01-01 01:00:00  7775.456846  Friday           1               1
2010-01-01 02:00:00  7704.815982  Friday           1               1
2010-01-01 03:00:00  7650.575724  Friday           1               1
2010-01-01 04:00:00  7666.708317  Friday           1               1
2010-01-01 05:00:00  7744.960869  Friday           1               1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109535 entries, 2010-01-01 01:00:00 to 2022-07-01 00:00:00
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ercot_load      109534 non-null  float64
 1   dow             109535 non-null  object
 2   is_weekday      109535 non-null  int64
 3   is_obs_holiday  109535 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.2+ MB

In [12]:
df.isnull().sum()

ercot_load        1
dow               0
is_weekday        0
is_obs_holiday    0
dtype: int64

In [13]:
df[df['ercot_load'].isnull()]

            ercot_load     dow  is_weekday  is_obs_holiday
datetime
2016-11-07         NaN  Monday           1               0

In [16]:
df['ercot_load']['2016-11-06':'2016-11-07']

datetime
2016-11-06 00:00:00     9823.059300
2016-11-06 01:00:00     9333.714877
2016-11-06 02:00:00     8940.715464
2016-11-06 02:00:00     8586.846227
2016-11-06 03:00:00     8421.796870
2016-11-06 04:00:00     8315.693497
2016-11-06 05:00:00     8298.451888
2016-11-06 06:00:00     8378.409884
2016-11-06 07:00:00     8574.723399
2016-11-06 08:00:00     8727.975197
2016-11-06 09:00:00     9250.127880
2016-11-06 10:00:00     9710.042373
2016-11-06 11:00:00    10166.955143
2016-11-06 12:00:00    10705.692924
2016-11-06 13:00:00    11257.071051
2016-11-06 14:00:00    11593.861939
2016-11-06 15:00:00    11668.452052
2016-11-06 16:00:00    11505.324075
2016-11-06 17:00:00    11366.450501
2016-11-06 18:00:00    11568.347403
2016-11-06 19:00:00    11817.812064
2016-11-06 20:00:00    11659.888806
2016-11-06 21:00:00    11325.212073
2016-11-06 22:00:00    10847.035095
2016-11-06 23:00:00    10138.494300
2016-11-07 00:00:00             NaN
2016-11-07 01:00:00     8961.697811
2016-11-07 02:00:00     8719.073733
2016-11-07 03:00:00     8602.533316
2016-11-07 04:00:00     8623.895250
2016-11-07 05:00:00     8856.470136
2016-11-07 06:00:00     9469.276490
2016-11-07 07:00:00    10233.657987
2016-11-07 08:00:00    10384.558931
2016-11-07 09:00:00    10696.434427
2016-11-07 10:00:00    11027.490313
2016-11-07 11:00:00    11292.883292
2016-11-07 12:00:00    11646.538266
2016-11-07 13:00:00    11884.506494
2016-11-07 14:00:00    12190.059245
2016-11-07 15:00:00    12377.546400
2016-11-07 16:00:00    12406.601813
2016-11-07 17:00:00    12332.283267
2016-11-07 18:00:00    12191.523125
2016-11-07 19:00:00    12280.656551
2016-11-07 20:00:00    12079.225448
2016-11-07 21:00:00    11699.602943
2016-11-07 22:00:00    11018.478786
2016-11-07 23:00:00    10154.993885
Name: ercot_load, dtype: float64

In [17]:
(10138.494300 + 8961.697811)/2

9550.0960555

In [18]:
df.ercot_load['2016-11-06':'2016-11-07'].interpolate(method='time',limit_direction='both')

datetime
2016-11-06 00:00:00     9823.059300
2016-11-06 01:00:00     9333.714877
2016-11-06 02:00:00     8940.715464
2016-11-06 02:00:00     8586.846227
2016-11-06 03:00:00     8421.796870
2016-11-06 04:00:00     8315.693497
2016-11-06 05:00:00     8298.451888
2016-11-06 06:00:00     8378.409884
2016-11-06 07:00:00     8574.723399
2016-11-06 08:00:00     8727.975197
2016-11-06 09:00:00     9250.127880
2016-11-06 10:00:00     9710.042373
2016-11-06 11:00:00    10166.955143
2016-11-06 12:00:00    10705.692924
2016-11-06 13:00:00    11257.071051
2016-11-06 14:00:00    11593.861939
2016-11-06 15:00:00    11668.452052
2016-11-06 16:00:00    11505.324075
2016-11-06 17:00:00    11366.450501
2016-11-06 18:00:00    11568.347403
2016-11-06 19:00:00    11817.812064
2016-11-06 20:00:00    11659.888806
2016-11-06 21:00:00    11325.212073
2016-11-06 22:00:00    10847.035095
2016-11-06 23:00:00    10138.494300
2016-11-07 00:00:00     9550.096055
2016-11-07 01:00:00     8961.697811
2016-11-07 02:00:00     8719.073733
2016-11-07 03:00:00     8602.533316
2016-11-07 04:00:00     8623.895250
2016-11-07 05:00:00     8856.470136
2016-11-07 06:00:00     9469.276490
2016-11-07 07:00:00    10233.657987
2016-11-07 08:00:00    10384.558931
2016-11-07 09:00:00    10696.434427
2016-11-07 10:00:00    11027.490313
2016-11-07 11:00:00    11292.883292
2016-11-07 12:00:00    11646.538266
2016-11-07 13:00:00    11884.506494
2016-11-07 14:00:00    12190.059245
2016-11-07 15:00:00    12377.546400
2016-11-07 16:00:00    12406.601813
2016-11-07 17:00:00    12332.283267
2016-11-07 18:00:00    12191.523125
2016-11-07 19:00:00    12280.656551
2016-11-07 20:00:00    12079.225448
2016-11-07 21:00:00    11699.602943
2016-11-07 22:00:00    11018.478786
2016-11-07 23:00:00    10154.993885
Name: ercot_load, dtype: float64

In [ ]:
, inplace=