In [19]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import wrangle

###### Create a smaller dataset for exploring in Tableau

In [2]:
#import the df
df = wrangle.get_combined_df()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109535 entries, 2010-01-01 00:00:00-06:00 to 2022-06-30 23:00:00-05:00
Data columns (total 60 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ercot_load           109535 non-null  float64
 1   dow                  109535 non-null  object
 2   is_weekday           109535 non-null  int64
 3   is_obs_holiday       109535 non-null  int64
 4   hs_temp              109535 non-null  float64
 5   hs_feelslike         109535 non-null  float64
 6   hs_dew               109535 non-null  float64
 7   hs_humidity          109535 non-null  float64
 8   hs_precip            109535 non-null  float64
 9   hs_windgust          28674 non-null   float64
 10  hs_windspeed         109535 non-null  float64
 11  hs_winddir           109535 non-null  float64
 12  hs_sealevelpressure  109435 non-null  float64
 13  hs_cloudcover        109535 non-null  float64
 14  hs_visibility        109535 non-null  float64
 15  hs_solarradiation    109535 non-null  float64
 16  hs_solarenergy       69237 non-null   float64
 17  hs_uvindex           109535 non-null  int64
 18  gv_temp              109535 non-null  float64
 19  gv_feelslike         109535 non-null  float64
 20  gv_dew               109535 non-null  float64
 21  gv_humidity          109535 non-null  float64
 22  gv_precip            109535 non-null  float64
 23  gv_windgust          53398 non-null   float64
 24  gv_windspeed         109535 non-null  float64
 25  gv_winddir           109535 non-null  float64
 26  gv_sealevelpressure  109532 non-null  float64
 27  gv_cloudcover        109535 non-null  float64
 28  gv_visibility        109533 non-null  float64
 29  gv_solarradiation    99620 non-null   float64
 30  gv_solarenergy       66875 non-null   float64
 31  gv_uvindex           99620 non-null   float64
 32  pl_temp              109535 non-null  float64
 33  pl_feelslike         109535 non-null  float64
 34  pl_dew               109535 non-null  float64
 35  pl_humidity          109535 non-null  float64
 36  pl_precip            109535 non-null  float64
 37  pl_windgust          49046 non-null   float64
 38  pl_windspeed         109535 non-null  float64
 39  pl_winddir           109535 non-null  float64
 40  pl_sealevelpressure  109360 non-null  float64
 41  pl_cloudcover        109535 non-null  float64
 42  pl_visibility        109527 non-null  float64
 43  pl_solarradiation    109535 non-null  float64
 44  pl_solarenergy       63209 non-null   float64
 45  pl_uvindex           109535 non-null  int64
 46  vc_temp              109535 non-null  float64
 47  vc_feelslike         109535 non-null  float64
 48  vc_dew               109535 non-null  float64
 49  vc_humidity          109535 non-null  float64
 50  vc_precip            109535 non-null  float64
 51  vc_windgust          37687 non-null   float64
 52  vc_windspeed         109535 non-null  float64
 53  vc_winddir           109535 non-null  float64
 54  vc_sealevelpressure  109458 non-null  float64
 55  vc_cloudcover        109535 non-null  float64
 56  vc_visibility        109500 non-null  float64
 57  vc_solarradiation    109535 non-null  float64
 58  vc_solarenergy       64818 non-null   float64
 59  vc_uvindex           109535 non-null  int64
dtypes: float64(54), int64(5), object(1)
memory usage: 51.0+ MB

In [4]:
df.head()

,ercot_load,dow,is_weekday,is_obs_holiday,hs_temp,hs_feelslike,hs_dew,hs_humidity,hs_precip,hs_windgust,...,vc_precip,vc_windgust,vc_windspeed,vc_winddir,vc_sealevelpressure,vc_cloudcover,vc_visibility,vc_solarradiation,vc_solarenergy,vc_uvindex
datetime,,,,,,,,,,,,,,,,,,,,,
2010-01-01 00:00:00-06:00,7931.241900,Friday,1,1,47.3,41.2,43.2,85.37,0.0,27.5,...,0.0,24.2,16.1,360.0,1027.7,98.7,9.9,0.0,NaN,0
2010-01-01 01:00:00-06:00,7775.456846,Friday,1,1,46.8,39.9,41.4,81.38,0.0,24.2,...,0.0,26.5,15.1,350.0,1028.1,98.6,9.9,0.0,NaN,0
2010-01-01 02:00:00-06:00,7704.815982,Friday,1,1,45.0,37.1,39.6,81.24,0.0,28.9,...,0.0,31.1,21.9,350.0,1028.8,98.6,9.9,0.0,NaN,0
2010-01-01 03:00:00-06:00,7650.575724,Friday,1,1,45.0,38.3,39.3,80.35,0.0,26.4,...,0.0,25.4,17.2,350.0,1028.9,98.7,9.9,0.0,NaN,0
2010-01-01 04:00:00-06:00,7666.708317,Friday,1,1,45.0,37.7,37.8,75.72,0.0,NaN,...,0.0,32.3,24.2,10.0,1028.0,27.7,9.9,0.0,NaN,0

##### 1) We only want the train dataset (everything before 2017)

In [6]:
train = df.loc[:'2017']

In [7]:
train.index

DatetimeIndex(['2010-01-01 00:00:00-06:00', '2010-01-01 01:00:00-06:00',
               '2010-01-01 02:00:00-06:00', '2010-01-01 03:00:00-06:00',
               '2010-01-01 04:00:00-06:00', '2010-01-01 05:00:00-06:00',
               '2010-01-01 06:00:00-06:00', '2010-01-01 07:00:00-06:00',
               '2010-01-01 08:00:00-06:00', '2010-01-01 09:00:00-06:00',
               ...
               '2017-12-31 14:00:00-06:00', '2017-12-31 15:00:00-06:00',
               '2017-12-31 16:00:00-06:00', '2017-12-31 17:00:00-06:00',
               '2017-12-31 18:00:00-06:00', '2017-12-31 19:00:00-06:00',
               '2017-12-31 20:00:00-06:00', '2017-12-31 21:00:00-06:00',
               '2017-12-31 22:00:00-06:00', '2017-12-31 23:00:00-06:00'],
              dtype='datetime64[ns, US/Central]', name='datetime', length=70128, freq=None)

##### 2) Get rid of unwanted weather columns.

In [16]:
#drop all non -houston data
train = train.loc[:,'ercot_load':'hs_uvindex']

In [17]:
train.columns

Index(['ercot_load', 'dow', 'is_weekday', 'is_obs_holiday', 'hs_temp',
       'hs_feelslike', 'hs_dew', 'hs_humidity', 'hs_precip', 'hs_windgust',
       'hs_windspeed', 'hs_winddir', 'hs_sealevelpressure', 'hs_cloudcover',
       'hs_visibility', 'hs_solarradiation', 'hs_solarenergy', 'hs_uvindex'],
      dtype='object')

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70128 entries, 2010-01-01 00:00:00-06:00 to 2017-12-31 23:00:00-06:00
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ercot_load           70128 non-null  float64
 1   dow                  70128 non-null  object
 2   is_weekday           70128 non-null  int64
 3   is_obs_holiday       70128 non-null  int64
 4   hs_temp              70128 non-null  float64
 5   hs_feelslike         70128 non-null  float64
 6   hs_dew               70128 non-null  float64
 7   hs_humidity          70128 non-null  float64
 8   hs_precip            70128 non-null  float64
 9   hs_windgust          13765 non-null  float64
 10  hs_windspeed         70128 non-null  float64
 11  hs_winddir           70128 non-null  float64
 12  hs_sealevelpressure  70028 non-null  float64
 13  hs_cloudcover        70128 non-null  float64
 14  hs_visibility        70128 non-null  float64
 15  hs_solarradiation    70128 non-null  float64
 16  hs_solarenergy       37876 non-null  float64
 17  hs_uvindex           70128 non-null  int64
dtypes: float64(14), int64(3), object(1)
memory usage: 10.2+ MB

In [24]:
#drop hs_windgust, hs_dew
train.drop(columns=['hs_windgust','hs_dew'],inplace=True)

In [27]:
train.hs_solarenergy.head(24) #Looks like its zero at night....weird

datetime
2010-01-01 00:00:00-06:00    NaN
2010-01-01 01:00:00-06:00    NaN
2010-01-01 02:00:00-06:00    NaN
2010-01-01 03:00:00-06:00    NaN
2010-01-01 04:00:00-06:00    NaN
2010-01-01 05:00:00-06:00    NaN
2010-01-01 06:00:00-06:00    NaN
2010-01-01 07:00:00-06:00    0.1
2010-01-01 08:00:00-06:00    0.7
2010-01-01 09:00:00-06:00    1.4
2010-01-01 10:00:00-06:00    2.0
2010-01-01 11:00:00-06:00    2.3
2010-01-01 12:00:00-06:00    2.4
2010-01-01 13:00:00-06:00    2.3
2010-01-01 14:00:00-06:00    1.9
2010-01-01 15:00:00-06:00    1.3
2010-01-01 16:00:00-06:00    0.6
2010-01-01 17:00:00-06:00    0.0
2010-01-01 18:00:00-06:00    NaN
2010-01-01 19:00:00-06:00    NaN
2010-01-01 20:00:00-06:00    NaN
2010-01-01 21:00:00-06:00    NaN
2010-01-01 22:00:00-06:00    NaN
2010-01-01 23:00:00-06:00    NaN
Name: hs_solarenergy, dtype: float64

In [26]:
#confirm solar energy is nan at night
train[train.hs_solarenergy.isna()].index.hour.value_counts().sort_index()

0     2922
1     2930
2     2914
3     2922
4     2922
5     2922
6     1645
7       12
18     910
19    1169
20    2221
21    2921
22    2921
23    2921
Name: datetime, dtype: int64

In [29]:
#looks so >> fill solar energy nan
train.hs_solarenergy.fillna(value=0,inplace=True)

In [30]:
train.hs_solarenergy.head(24)

datetime
2010-01-01 00:00:00-06:00    0.0
2010-01-01 01:00:00-06:00    0.0
2010-01-01 02:00:00-06:00    0.0
2010-01-01 03:00:00-06:00    0.0
2010-01-01 04:00:00-06:00    0.0
2010-01-01 05:00:00-06:00    0.0
2010-01-01 06:00:00-06:00    0.0
2010-01-01 07:00:00-06:00    0.1
2010-01-01 08:00:00-06:00    0.7
2010-01-01 09:00:00-06:00    1.4
2010-01-01 10:00:00-06:00    2.0
2010-01-01 11:00:00-06:00    2.3
2010-01-01 12:00:00-06:00    2.4
2010-01-01 13:00:00-06:00    2.3
2010-01-01 14:00:00-06:00    1.9
2010-01-01 15:00:00-06:00    1.3
2010-01-01 16:00:00-06:00    0.6
2010-01-01 17:00:00-06:00    0.0
2010-01-01 18:00:00-06:00    0.0
2010-01-01 19:00:00-06:00    0.0
2010-01-01 20:00:00-06:00    0.0
2010-01-01 21:00:00-06:00    0.0
2010-01-01 22:00:00-06:00    0.0
2010-01-01 23:00:00-06:00    0.0
Name: hs_solarenergy, dtype: float64

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 70128 entries, 2010-01-01 00:00:00-06:00 to 2017-12-31 23:00:00-06:00
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ercot_load           70128 non-null  float64
 1   dow                  70128 non-null  object
 2   is_weekday           70128 non-null  int64
 3   is_obs_holiday       70128 non-null  int64
 4   hs_temp              70128 non-null  float64
 5   hs_feelslike         70128 non-null  float64
 6   hs_humidity          70128 non-null  float64
 7   hs_precip            70128 non-null  float64
 8   hs_windspeed         70128 non-null  float64
 9   hs_winddir           70128 non-null  float64
 10  hs_sealevelpressure  70028 non-null  float64
 11  hs_cloudcover        70128 non-null  float64
 12  hs_visibility        70128 non-null  float64
 13  hs_solarradiation    70128 non-null  float64
 14  hs_solarenergy       70128 non-null  float64
 15  hs_uvindex           70128 non-null  int64
dtypes: float64(12), int64(3), object(1)
memory usage: 9.1+ MB

In [32]:
train.to_csv('for_tableau_central.csv')