This notebook is to test the copy of wrangle from the main folder


It also serves to re-write the prepped dataframe to CSV.

In [1]:
import pandas as pd
import numpy as np

import wrangle

In [2]:
df = wrangle.get_ercot_df()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 109535 entries, 2010-01-01 00:00:00-06:00 to 2022-06-30 23:00:00-05:00
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ercot_load      109535 non-null  float64
 1   dow             109535 non-null  object
 2   is_weekday      109535 non-null  int64
 3   is_obs_holiday  109535 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 4.2+ MB

In [4]:
df.head()

                            ercot_load     dow  is_weekday  is_obs_holiday
new_datetime
2010-01-01 00:00:00-06:00  7931.241900  Friday           1               1
2010-01-01 01:00:00-06:00  7775.456846  Friday           1               1
2010-01-01 02:00:00-06:00  7704.815982  Friday           1               1
2010-01-01 03:00:00-06:00  7650.575724  Friday           1               1
2010-01-01 04:00:00-06:00  7666.708317  Friday           1               1

In [5]:
df.isna().sum()

ercot_load        0
dow               0
is_weekday        0
is_obs_holiday    0
dtype: int64

In [6]:
df.tail()

                             ercot_load       dow  is_weekday  is_obs_holiday
new_datetime
2022-06-30 19:00:00-05:00  15040.841510  Thursday           1               0
2022-06-30 20:00:00-05:00  14700.132848  Thursday           1               0
2022-06-30 21:00:00-05:00  14637.633680  Thursday           1               0
2022-06-30 22:00:00-05:00  14543.743791  Thursday           1               0
2022-06-30 23:00:00-05:00  14065.386852  Thursday           1               0

In [8]:
df.loc['2017-03-12'].head()

                            ercot_load     dow  is_weekday  is_obs_holiday
new_datetime
2017-03-12 00:00:00-06:00  9120.385718  Sunday           0               0
2017-03-12 01:00:00-06:00  8579.644600  Sunday           0               0
2017-03-12 03:00:00-05:00  8251.748166  Sunday           0               0
2017-03-12 04:00:00-05:00  8016.291377  Sunday           0               0
2017-03-12 05:00:00-05:00  7894.080492  Sunday           0               0

In [9]:
df.loc['2010-11-07'].head()

                            ercot_load     dow  is_weekday  is_obs_holiday
new_datetime
2010-11-07 00:00:00-05:00  7487.208500  Sunday           0               0
2010-11-07 01:00:00-05:00  7218.432121  Sunday           0               0
2010-11-07 01:00:00-06:00  7051.515830  Sunday           0               0
2010-11-07 02:00:00-06:00  6914.202568  Sunday           0               0
2010-11-07 03:00:00-06:00  6881.075592  Sunday           0               0

In [10]:
df.to_csv('prepped_ercot.csv')